<div class="center jumbotron d-flex flex-column justify-content-center">
  <h1 class='text-center font-weight-bold'>Welcome to ANOTHER Gossip Project !</h1>
  <h3 class='text-center'>
    <%= link_to "Get shiwfty", registration_new_path, class: "btn btn-lg btn-warning" %>
  </h3>
  <img src="https://fsmedia.imgix.net/1a/60/b9/76/0851/4896/8836/e73cbcbf04ee/rick-and-morty-netflixjpg.jpeg?rect=0%2C22%2C938%2C469&dpr=2&auto=format%2Ccompress&w=650">
</div>